/******** Colors ********/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

/* ******** Resets ********/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0; }

/* ******** Typography ********/
body {
  color: #333333;
  font-family: "Helvetica"; }

.ou-subheading {
  color: #005587;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid #c3d7ee;
  padding-bottom: 0.75rem; }

@media (min-width: 375px) {
  .ou-subheading {
    font-size: 1.5rem; } }
@media (min-width: 768px) {
  .ou-subheading {
    font-size: 1.75rem; } }
@media (min-width: 992px) {
  .ou-subheading {
    font-size: 2rem; } }
.ou-lead {
  font-size: 1.125rem;
  line-height: 1.5;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .ou-lead--event {
    padding-top: 0; }
  .ou-lead--news, .ou-lead--experts {
    padding-bottom: 2.5rem; }
    .ou-lead--news span:nth-child(1), .ou-lead--experts span:nth-child(1) {
      font-weight: 600; }
    .ou-lead--news span:nth-child(2), .ou-lead--experts span:nth-child(2) {
      font-style: italic; }

@media (min-width: 768px) {
  .ou-lead {
    font-size: 1.25rem; } }
@media (min-width: 992px) {
  .ou-lead {
    font-size: 1.4rem; }
    .ou-lead--event {
      padding-bottom: 1.5rem; }
    .ou-lead--news, .ou-lead--experts {
      padding-bottom: 4rem; } }
.anime-link {
  text-decoration: none;
  border-bottom: solid 0px transparent;
  -webkit-transition: border-bottom-color 0.2s ease-in;
  -moz-transition: border-bottom-color 0.2s ease-in;
  -ms-transition: border-bottom-color 0.2s ease-in;
  -o-transition: border-bottom-color 0.2s ease-in;
  transition: border-bottom-color 0.2s ease-in; }
  .anime-link:hover {
    text-decoration: none;
    margin-bottom: -2px; }
  .anime-link--white {
    color: #ffffff; }
    .anime-link--white:hover {
      color: #ffffff;
      border-bottom: solid 2px #ffffff; }

/* ******** NAV ********/
.ou-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 7vh;
  padding: 1rem 0; }
  .ou-nav__logos {
    width: 125px;
    vertical-align: bottom; }

.ou-nav__links {
  display: flex;
  justify-content: space-around; }

@media (max-width: 899px) {
  body {
    overflow-x: hidden; } }
@media (max-width: 899px) {
  .ou-nav__links {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    top: 7vh;
    background-color: #ffffff;
    display: none;
    padding: 1rem 0 0.75rem 0;
    width: 100%; } }
.ou-nav__link-item {
  list-style: none;
  margin-left: 1.25rem; }
  .ou-nav__link-item a {
    color: #2774ae;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-decoration: none; }
    .ou-nav__link-item a:hover {
      color: #003b5c;
      text-decoration: underline; }

@media (max-width: 899px) {
  .ou-nav__link-item {
    padding: 0.5rem 0; } }
.ou-nav__icon {
  display: none; }

@media (max-width: 899px) {
  .ou-nav__icon {
    display: block;
    cursor: pointer;
    width: 23px; } }
.nav-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-animation: navslide 0.4s ease-out;
  -moz-animation: navslide 0.4s ease-out;
  animation: navslide 0.4s ease-out; }

@-webkit-keyframes navslide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }
@-moz-keyframes navslide {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }
@keyframes navslide {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@media (min-width: 899px) {
  .nav-active {
    flex-direction: row; } }
/* ******** HEADER ********/
.ou-header {
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  position: relative; }
  .ou-header--main {
    background-image: url("/images/headers/openucla-ucla-library-royce-hall-book-projection.jpg");
    background-position: center center; }
  .ou-header--faqs {
    background-image: url("/images/headers/openucla-faqs-header-img.jpg");
    background-position: left; }
  .ou-header--news {
    background-image: url("/images/headers/openucla-news-header-img2.jpg");
    background-position: left; }
  .ou-header--events {
    background-image: url("/images/headers/openucla-events-header-img.jpg");
    background-position: right; }

.ou-header-label {
  background: #ffffff;
  max-width: 450px;
  width: 100%;
  height: 135px;
  position: absolute;
  bottom: 1.5rem;
  display: flex; }
  .ou-header-label img {
    width: 90%;
    padding: 0 2rem; }

/* ******** Layout ********/
.ou-body-container {
  margin: 0 auto;
  width: calc(100vw - 40px);
  max-width: 1920px; }
  .ou-body-container--white {
    background: #ffffff; }

@media (min-width: 768px) {
  .ou-body-container {
    width: calc(100vw - 60px); } }
@media (min-width: 992px) {
  .ou-body-container {
    width: calc(100vw - 80px); } }
.ou-main-container {
  margin-top: 4rem;
  margin-bottom: 4rem; }
  @media (min-width: 992px) {
    .ou-main-container {
      margin-bottom: 6rem; }
      .ou-main-container--home {
        margin-top: 7rem; } }

.ou-section {
  margin-bottom: 5rem; }

@media (min-width: 992px) {
  .ou-section {
    margin-bottom: 8rem; }
    .ou-section--intro {
      display: flex;
      justify-content: space-between; } }
.ou-flex-container {
  display: flex;
  flex-wrap: wrap; }
  .ou-flex-container--news, .ou-flex-container--experts {
    justify-content: space-between; }

/********* SUBPAGES ********/
.ou-subpage-item {
  background-color: rgba(195, 215, 238, 0.4);
  padding: 1.25rem;
  margin-bottom: 2rem; }
  .ou-subpage-item--heading {
    font-size: 1.25rem;
    letter-spacing: 0.5px; }
  .ou-subpage-item--text {
    font-size: 0.875rem;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-top: 1rem; }
    .ou-subpage-item--text span {
      font-weight: 600; }
  .ou-subpage-item--link {
    color: #005587;
    font-weight: 600; }
    .ou-subpage-item--link:hover {
      color: #003b5c; }
  .ou-subpage-item--list {
    list-style: circle inside;
    margin-bottom: 1rem; }
    .ou-subpage-item--list li {
      font-size: 1.125rem;
      line-height: 1.5; }
  .ou-subpage-item--footnote {
    color: #666666;
    font-size: 0.875rem;
    font-style: italic;
    margin-top: 2rem; }

@media (min-width: 400px) {
  .ou-subpage-item {
    padding: 1.875rem; }
    .ou-subpage-item--text {
      font-size: 1rem; } }
@media (min-width: 768px) {
  .ou-subpage-item {
    padding: 2.5rem 3.75rem; }
    .ou-subpage-item--heading {
      font-size: 1.5rem; }
    .ou-subpage-item--text {
      font-size: 1.125rem; } }
.ou-subpage-event-wrapper {
  flex: 0 0 100%;
  margin-bottom: 2rem; }

@media (min-width: 600px) {
  .ou-subpage-event-wrapper {
    flex: 0 0 48%;
    margin-bottom: 3rem; }
    .ou-subpage-event-wrapper:nth-child(even) {
      margin-left: 1rem; } }
@media (min-width: 992px) {
  .ou-subpage-event-wrapper {
    flex: 0 0 31%;
    margin-bottom: 4rem; }
    .ou-subpage-event-wrapper:nth-child(even) {
      margin-left: 0; }
    .ou-subpage-event-wrapper:nth-child(3n-1) {
      margin-right: 1.25rem;
      margin-left: 1.25rem; } }
.ou-subpage-event__image-wrapper img {
  width: 100%; }

.ou-subpage-event__body {
  margin-top: 1rem; }
.ou-subpage-event--title {
  font-size: 1.125rem; }
.ou-subpage-event--date {
  color: #666666;
  font-size: 0.875rem;
  font-style: italic;
  margin-top: 0.25rem; }
.ou-subpage-event--desc {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1rem; }

/********* WHAT IS OPENUCLA ********/
.ou-intro__wrapper--lead {
  padding: 1rem 0 4rem 0; }

@media (min-width: 992px) {
  .ou-intro__wrapper--lead {
    flex: 0 0 55%;
    align-self: center;
    order: 2;
    padding: 0 4rem 0 2rem; } }
.ou-intro__lead--text {
  font-size: 1.125rem;
  line-height: 1.5; }

@media (min-width: 375px) {
  .ou-intro__lead--text {
    font-size: 1.25rem; } }
@media (min-width: 768px) {
  .ou-intro__lead--text {
    font-size: 1.5rem; } }
@media (min-width: 1200px) {
  .ou-intro__lead--text {
    font-size: 1.75rem; } }
.ou-intro__lead--link {
  color: #005587;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.25;
  padding-top: 2.5rem;
  text-decoration: none; }
  .ou-intro__lead--link:hover {
    color: #003b5c;
    text-decoration: underline; }

@media (min-width: 375px) {
  .ou-intro__lead--link {
    font-size: 1.125rem; } }
@media (min-width: 768px) {
  .ou-intro__lead--link {
    font-size: 1.25rem; } }
@media (min-width: 992px) {
  .ou-intro__lead--link {
    font-size: 1.375rem; } }
.ou-intro__wrapper--list {
  background: #005587;
  margin-bottom: 3.125rem; }

@media (min-width: 992px) {
  .ou-intro__wrapper--list {
    flex: 0 0 35%;
    min-width: 475px;
    height: 400px;
    max-height: 450px;
    margin: 0;
    display: flex;
    align-items: center;
    order: 1; } }
.ou-intro__list {
  padding: 2rem 0 2rem 0.75rem; }

@media (min-width: 375px) {
  .ou-intro__list {
    padding-left: 1rem; } }
@media (min-width: 400px) {
  .ou-intro__list {
    padding-left: 1.5rem; } }
@media (min-width: 576px) {
  .ou-intro__list {
    padding-left: 2.5rem; } }
.ou-intro__list--item {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.25;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 1.25rem; }
  .ou-intro__list--item::before {
    content: "";
    background-image: url("/images/branding/ucla-blue-ylw-molecule.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin-right: 0.5rem;
    transform: rotate(45deg); }

@media (min-width: 375px) {
  .ou-intro__list--item {
    font-size: 1.25rem; } }
@media (min-width: 400px) {
  .ou-intro__list--item {
    letter-spacing: 1px; }
    .ou-intro__list--item::before {
      margin-right: 1rem; } }
@media (min-width: 576px) {
  .ou-intro__list--item {
    letter-spacing: 2px; } }
@media (min-width: 768px) {
  .ou-intro__list--item {
    font-size: 1.5rem; } }
.ou-intro__list--item:nth-last-child(1) {
  padding-bottom: 0; }

/* ******** Shared block items for Open Access Portals, Events and Initiatives */
.ou-item__wrapper {
  flex: 0 0 100%;
  padding: 1rem 0;
  border-bottom: 1px solid #c3d7ee; }

@media (min-width: 576px) {
  .ou-item__wrapper {
    flex: 0 0 48%; }
    .ou-item__wrapper:nth-child(even) {
      margin-left: 1rem; } }
@media (min-width: 992px) {
  .ou-item__wrapper {
    flex: 0 0 32%; }
    .ou-item__wrapper:nth-child(even) {
      margin-left: 0; }
    .ou-item__wrapper:nth-child(3n-1) {
      margin-right: 1rem;
      margin-left: 1rem; } }
.ou-item__image-wrapper img {
  width: 100%; }

.ou-item__image {
  height: auto;
  max-width: 100%; }

.ou-item__text {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 0 3rem 0; }

@media (min-width: 992px) {
  .ou-item__text {
    font-size: 1.125rem; } }
.ou-item__link {
  color: #005587;
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px; }
  .ou-item__link:hover {
    color: #003b5c; }

/* ******** Custom block items for Events */
.ou-item__wrapper--event {
  flex-direction: column; }
  .ou-item__wrapper--event:nth-last-child(1) {
    align-self: center;
    border-bottom: 0; }

@media (min-width: 576px) {
  .ou-item__wrapper--event {
    flex: 0 0 100%; } }
@media (min-width: 768px) {
  .ou-item__wrapper--event {
    flex: 0 0 48%;
    margin-bottom: 2rem; }
    .ou-item__wrapper--event:nth-child(even) {
      margin-left: 1rem; }
    .ou-item__wrapper--event:nth-last-child(1) {
      margin-top: 0;
      margin-bottom: 0; } }
@media (min-width: 992px) {
  .ou-item__wrapper--event {
    flex: 0 0 32%;
    margin-bottom: 2rem; }
    .ou-item__wrapper--event:nth-child(even) {
      margin-left: 0; }
    .ou-item__wrapper--event:nth-child(3n-1) {
      margin-right: 1rem;
      margin-left: 1rem; } }
.ou-event__body {
  display: flex;
  align-items: center;
  padding: 1rem 2rem; }

@media (min-width: 768px) {
  .ou-event__body {
    padding-left: 2rem;
    padding-right: 1rem; } }
.ou-event__date {
  border-right: 6px solid #ffd100;
  padding-right: 1.25rem; }

.ou-event__month {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1; }

.ou-event__day {
  font-size: 1.875rem;
  font-weight: 100;
  line-height: 1; }

.ou-event__desc {
  font-size: 0.875rem;
  line-height: 1.25;
  padding-left: 1.25rem; }

@media (min-width: 768px) {
  .ou-event__desc {
    font-size: 1rem; } }
.ou-event__past--link {
  color: #333333;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: underline; }
  .ou-event__past--link:hover {
    color: #003b5c; }

@media (min-width: 992px) {
  .ou-event__past {
    padding-left: 1.25rem; } }
/* ******** MEDIA EXPERTS ********/
.bio-card-wrapper,
.bio-label-wrapper {
  flex: 0 0 100%;
  border-bottom: 1px solid #c3d7ee;
  padding: 1rem 0;
  margin-bottom: 1rem;
  color: #333333;
  text-decoration: none;
  opacity: 0.95; }
  .bio-card-wrapper:hover,
  .bio-label-wrapper:hover {
    color: #333333;
    text-decoration: none;
    opacity: 1; }

@media (min-width: 768px) {
  .bio-card-wrapper,
  .bio-label-wrapper {
    flex: 0 0 48%; } }
@media (min-width: 992px) {
  .bio-card-wrapper,
  .bio-label-wrapper {
    flex: 0 0 31%;
    margin-bottom: 2.5rem; } }
.bio-card-wrapper {
  display: flex; }

.bio-img-wrapper {
  flex-basis: 40%; }
  .bio-img-wrapper img {
    width: 100%; }

.bio-img {
  height: auto;
  max-width: 100%; }

.bio-text-wrapper {
  flex-basis: 60%;
  padding-left: 1.5rem; }

.bio-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem; }

.bio-desc {
  font-size: 0.875rem;
  font-style: italic;
  margin-top: 1rem; }

@media (min-width: 576px) {
  .bio-name {
    font-size: 1.5rem; } }
.bio-title {
  font-size: 0.875rem;
  line-height: 1.25; }

@media (min-width: 576px) {
  .bio-title {
    font-size: 1rem; } }
/* ******** NEWS & UPDATES *********/
.ou-news__link {
  color: #333333;
  flex: 0 0 100%;
  font-size: 1rem;
  line-height: 1.25;
  text-decoration: none;
  border-bottom: 1px solid #c3d7ee;
  padding: 1rem 0;
  margin-bottom: 2rem; }
  .ou-news__link:hover {
    color: #003b5c;
    text-decoration: underline; }

@media (min-width: 768px) {
  .ou-news__link {
    flex: 0 0 48%; }
    .ou-news__link:nth-child(even) {
      margin-left: 1.25rem; } }
@media (min-width: 992px) {
  .ou-news__link {
    flex: 0 0 31%; }
    .ou-news__link:nth-child(even) {
      margin-left: 0; }
    .ou-news__link:nth-child(3n-1) {
      margin-left: 1.25rem;
      margin-right: 1.25rem; } }
.ou-news__link--more {
  color: #333333;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: underline;
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0; }

/********* FOOTER ********/
footer {
  color: #ffffff;
  font-size: 13px;
  margin: 0 auto; }

.ou-footer-wrapper__primary {
  background: #005587;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem; }

@media (min-width: 900px) {
  .ou-footer__primary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; } }
.ou-footer__logo {
  width: 200px; }

.ou-footer__text {
  line-height: 2.5;
  margin-top: 1.5rem; }

@media (min-width: 900px) {
  .ou-footer__text {
    flex-basis: 45%;
    margin-top: 0; } }
.ou-footer__list {
  margin-top: 1.875rem;
  list-style: none; }
  .ou-footer__list li {
    padding-bottom: 1rem; }

@media (min-width: 900px) {
  .ou-footer__list {
    flex-basis: 25%;
    margin-top: 0; } }
.ou-footer__list-link {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none; }
  .ou-footer__list-link:hover {
    color: #ffffff;
    text-decoration: underline; }

.ou-footer-wrapper__secondary {
  background: #003b5c;
  padding-top: 1rem;
  padding-bottom: 1rem; }
