/* ******** MEDIA EXPERTS ********/

.bio-card-wrapper,
.bio-label-wrapper {
  flex: 0 0 100%;
  border-bottom: 1px solid $ucla-lightest-blue;
  padding: 1rem 0;
  margin-bottom: 1rem;
  color: $text-black;
  text-decoration: none;
  opacity: 0.95;
  &:hover {
    color: $text-black;
    text-decoration: none;
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .bio-card-wrapper,
  .bio-label-wrapper {
    flex: 0 0 48%;
  }
}

@media (min-width: 992px) {
  .bio-card-wrapper,
  .bio-label-wrapper {
    flex: 0 0 31%;
    margin-bottom: 2.5rem;
  }
}

.bio-card-wrapper {
  display: flex;
}

.bio-img-wrapper {
  flex-basis: 40%;
  img {
    width: 100%;
  }
}

.bio-img {
  height: auto;
  max-width: 100%;
}

.bio-text-wrapper {
  flex-basis: 60%;
  padding-left: 1.5rem;
}

.bio-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

@media (min-width: 576px) {
  .bio-name {
    font-size: 1.5rem;
  }
}

.bio-title {
  font-size: 0.875rem;
  line-height: 1.25;
}

@media (min-width: 576px) {
  .bio-title {
    font-size: 1rem;
  }
}
