/* ******** NEWS & UPDATES *********/

.ou-news__link {
  flex: 0 0 100%;
  line-height: 1.25;
  border-bottom: 1px solid $ucla-lightest-blue;
  padding: 1rem 0;
  margin-bottom: 2rem;
  &:hover {
    color: $ucla-darkest-blue;
    text-decoration: underline;
  }
}

@media (min-width: 768px) {
  .ou-news__link {
    flex: 0 0 48%;
    &:nth-child(even) {
      margin-left: 1.25rem;
    }
  }
}

@media (min-width: 992px) {
  .ou-news__link {
    flex: 0 0 31%;
    &:nth-child(even) {
      margin-left: 0;
    }
    &:nth-child(3n-1) {
      margin-left: 1.25rem;
      margin-right: 1.25rem;
    }
  }
}

.ou-news__link--more {
  color: $text-black;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: underline;
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
