/* ******** Typography ********/

body {
  color: $text-black;
  font-family: 'Helvetica';
}

.ou-subheading {
  color: $ucla-darker-blue;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid $ucla-lightest-blue;
  padding-bottom: 0.75rem;
}

@media (min-width: 375px) {
  .ou-subheading {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .ou-subheading {
    font-size: 1.75rem;
  }
}

@media (min-width: 992px) {
  .ou-subheading {
    font-size: 2rem;
  }
}

.ou-lead {
  font-size: 1.125rem;
  line-height: 1.5;
  padding-top: 1rem;
  padding-bottom: 1rem;
  &--event {
    padding-top: 0;
  }
  &--news,
  &--experts {
    padding-bottom: 2.5rem;
    span:nth-child(1) {
      font-weight: 600;
    }
    span:nth-child(2) {
      font-style: italic;
    }
  }
}

@media (min-width: 768px) {
  .ou-lead {
    font-size: 1.25rem;
  }
}

@media (min-width: 992px) {
  .ou-lead {
    font-size: 1.4rem;
    &--event {
      padding-bottom: 1.5rem;
    }
    &--news,
    &--experts {
      padding-bottom: 4rem;
    }
  }
}

.anime-link {
  text-decoration: none;
  border-bottom: solid 0px transparent;
  -webkit-transition: border-bottom-color 0.2s ease-in;
  -moz-transition: border-bottom-color 0.2s ease-in;
  -ms-transition: border-bottom-color 0.2s ease-in;
  -o-transition: border-bottom-color 0.2s ease-in;
  transition: border-bottom-color 0.2s ease-in;
  &:hover {
    text-decoration: none;
    margin-bottom: -2px;
  }
  &--white {
    color: $white;
    &:hover {
      color: $white;
      border-bottom: solid 2px $white;
    }
  }
}

.header-image-citation {
  font-size: 14px;
  font-style: italic;
}
